.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 900
  
  .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  *{
    margin: 0;
  }
 body{
    width: 917.45px;
    margin: auto;
 }

  nav{
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
  }
  img.logo{
    width: 100%;
  }
  ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    
    align-items: center;
    }
    li{
        padding: 1.5em;
    }
div.lien{
    
}
a.twitter{
    text-decoration: none;
    
    
   
}
a.linkedin{
    text-decoration: none;
}
a.medium{
    text-decoration: none;
}
div.bienvenue
{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-content: end;
    
}
div.presentation{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

  h1{
    font-family: "Abril Fatface";
    color: #ff33cc;
    text-align: justify;
   
    

  }
  .p1{
    width: 70%;
  }
  p{
    width: 25sem;
  }
.twitter{
    padding-top: 5em;
    border: 5em purple;
}
  figure{
    margin: 0;
  }
.container{
    display: flex;
    flex-flow: row nowrap;
    align-content: space-around;
  }
  img{
    width: 20em;
  }