.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 900
  
  .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  *{
    margin: 0;
  }
 body{
    width: 917.45px;
    margin: auto;
    font-family: "Montserrat", sans-serif;;
 }

  nav{
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
  }
  img.logo{
    width: 100%;
  }
  ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    
    align-items: center;
    }
    li{
        padding: 0.8em;
    }
    a{
      color: gray;
      text-decoration: none;
    }
    .color{
      color: blue;
    }

img.twitter{
  
  text-decoration: none;
  padding-top: 1em;
  width: 24%;
   }
img.linkedin{
    text-decoration: none;
    width: 24%;
    padding-top: 1em;
  }
img.medium{
    text-decoration: none;
    width: 24%;
    padding-top: 1em;
  }

div.bienvenue
{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-content: end;
    
}
div.presentation{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

  h1{
    font-family: "Abril Fatface";
    color: #ff33cc;
    text-align: justify;
    padding-top: 1em;
    padding-bottom: 0.5em;
   }
  .p1{
    width: 74%;
  }
 
.illustration{
  width: 20em;
}

  figure{
    width: 30em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
h3{
  color: #ff33cc ;
  font-size: 1.5em;
  padding-top: 1em;
}
div.container{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
    
    padding-top: 5em;
  }
.container2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: end;
    margin-top: 5em;
  }
.container3{
    display: flex;
    flex-flow: row nowrap;
    padding-top: 5em;
    padding-bottom: 23em;
  }

.img{
  width: 95%;
}
p.p2{
    width: 27em;
    text-align: justify;
    padding-top: 1em;
    padding-bottom: 1em;
  }
.info{
    color: #ff33cc;
   
    
  }
 