body{ 
    width: 917.45px;
    margin: auto;
}

nav {
    display: flex;
  justify-content: space-between;
    flex-flow: row nowrap;

 }
 ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
 }

 li{
  padding: 1em;
 }
 
 .abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    font-family: "Abril Fatface";
  }
 

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing:auto;
  font-weight: 200;
  font-style: normal;
}
p {
    font-family: "Montserrat";
}
.img2 {
    position: relative;
    max-width: 100%;
	height: 645px;
   
}

h1 {
    margin-top: 70px;
    color: #ff33cc;
}
h2,h3{
    color:rgb(4, 4, 105)
}
a {
  color: gray;
  text-decoration: none;
}


  
    