body {
    margin: auto;
    width: 917.45px;
  }
  header {
    width: 1000px;
  }
  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  
 }
 .abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Abril Fatface";
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: normal;
}
p {
    font-family: "Montserrat";
}
 .logo {
    width: 100%;
 }

form {
    margin-right: 40px;
    margin-left: 40px;
 
  }
  label,
  input,
  meter {
    display: block;
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
  }
  
  label {
    margin-bottom: 5px;
    color: #ff33cc;
    font-weight: bold;
  }

 h1 {
    color: #ff33cc;
    padding: 0.5em;
    text-align: center;
 }
 ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
 }
 .contact {
  padding-right: 120px;
 }
 button{
  float: right;
    background: #d06be1;
    color: rgb(92, 27, 94);
    border-style: outset;
    border-color: #0c0c0c;
    height: 20px;
    width: 100px;

    }

 button:hover {
    background-color: #ff33cc;
  }
  a{
    text-decoration: none;
    padding-right: 1em;
    color: grey;
  }
  a:hover {
    color: #0f0f7e;
  }
  /* Illustration */
.image img {
  width: 270px;
  height: 260px;
}
/* Liens */
.liens {
  display: flex;
  gap: 15px;

}
.liens img {
  width: 150px;
}
/* Content */
.content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
 
}

.texte {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}


